In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [2]:
pop = pd.read_csv("population.csv") 
aa = pd.read_csv("aide_alimentaire.csv")
da = pd.read_csv("dispo_alimentaire.csv")
sn = pd.read_csv("sous_nutrition.csv")
cer = pd.read_csv('céréales.csv')

In [3]:
# Calcul de la population mondiale en 2017

pop_2017_df = pop[pop["Année"] == 2017]
pop_2017 = pop_2017_df['Valeur'].sum()

print('La population mondiale en 2017 est de', '{:,}'.format(int(pop_2017*1e3)).replace(',', ' '), 'habitants.')

La population mondiale en 2017 est de 7 548 134 111 habitants.

In [4]:
# Calcul du nombre de personnes en état de sous-nutrition en 2017

sn_2017_df = sn[sn["Année"] == '2016-2018']

sn_2017_df.loc[sn_2017_df['Valeur'] == '<0.1'] = 0
sn_2017_df['Valeur'] = sn_2017_df['Valeur'].apply(pd.to_numeric)

sn_2017 = sn_2017_df['Valeur'].sum()
print(int(sn_2017),'Millions de personnes étaient en état de sous-nutrition en 2017.')

535 Millions de personnes étaient en état de sous-nutrition en 2017.

In [5]:
# Marc - Question n°1 : Proportion de personnes en état de sous-nutrition en 2017

print('La proportion de la population mondiale en état de sous-nutrition pour l\'année 2017 est de',round((sn_2017*1e3)/(pop_2017)*100, 3),'%.')

La proportion de la population mondiale en état de sous-nutrition pour l'année 2017 est de 7.097 %.

In [6]:
# Jointure des tableaux 'Disponibilité alimentaire' et 'Population' en 2017

pop_da = pd.merge(pop_2017_df, da, on='Zone')
pop_da

,Zone,Année,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,2017,36296.113,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,2017,36296.113,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,2017,36296.113,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2017,36296.113,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2017,36296.113,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15411,Zimbabwe,2017,14236.595,Viande de Suides,animale,NaN,NaN,24.0,2.65,2.25,0.83,37.0,0.0,6.0,37.0,NaN,32.0,NaN,0.0,0.0
15412,Zimbabwe,2017,14236.595,Viande de Volailles,animale,NaN,NaN,17.0,4.97,1.05,1.69,70.0,0.0,6.0,70.0,NaN,64.0,NaN,NaN,NaN
15413,Zimbabwe,2017,14236.595,"Viande, Autre",animale,NaN,1.0,7.0,2.29,0.21,1.12,34.0,3.0,1.0,32.0,NaN,36.0,NaN,0.0,NaN
15414,Zimbabwe,2017,14236.595,Vin,vegetale,NaN,NaN,1.0,0.27,NaN,NaN,4.0,0.0,2.0,4.0,NaN,2.0,NaN,NaN,0.0
15415,Zimbabwe,2017,14236.595,"Épices, Autres",vegetale,NaN,NaN,1.0,0.06,0.02,0.02,1.0,0.0,0.0,1.0,NaN,1.0,NaN,NaN,0.0

In [7]:
# Marc - Question n°2 : Nombre théorique de personnes qui pourraient être nourries en 2017 (à partir de la disponibilité alimentaire mondiale)

# D'après l'OMS, il est indiqué que les besoins caloriques journaliers sont de 2500kcal/jour soit 912500kcal/an.

pop_da_kcal = round(((pop_da['Disponibilité alimentaire (Kcal/personne/jour)']*365*pop_da['Valeur']).sum()/912500)*1e3, 2)

pop_da_kcal_percent = round(((pop_da_kcal/(pop_2017*1e3))*1e2),2)

print('La disponibilité alimentaire mondiale permettrait de nourrir ', '{:,}'.format(int(pop_da_kcal)).replace(',', ' '), 'personnes, soit ', pop_da_kcal_percent, '% de la population mondiale.')

La disponibilité alimentaire mondiale permettrait de nourrir  8 367 593 850 personnes, soit  110.86 % de la population mondiale.

In [8]:
# Création du filtre afin de n'avoir que les disponibilités végétales

pop_da_veg = pop_da[pop_da['Origine'] == 'vegetale']
pop_da_veg

,Zone,Année,Valeur,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
1,Afghanistan,2017,36296.113,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,2017,36296.113,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2017,36296.113,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2017,36296.113,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,2017,36296.113,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,Zimbabwe,2017,14236.595,Sésame,vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
15407,Zimbabwe,2017,14236.595,Thé,vegetale,NaN,NaN,1.0,0.54,NaN,0.15,8.0,12.0,1.0,8.0,NaN,19.0,NaN,NaN,NaN
15408,Zimbabwe,2017,14236.595,Tomates,vegetale,NaN,NaN,1.0,1.80,0.01,0.04,27.0,0.0,3.0,25.0,1.0,24.0,NaN,NaN,NaN
15414,Zimbabwe,2017,14236.595,Vin,vegetale,NaN,NaN,1.0,0.27,NaN,NaN,4.0,0.0,2.0,4.0,NaN,2.0,NaN,NaN,0.0
15415,Zimbabwe,2017,14236.595,"Épices, Autres",vegetale,NaN,NaN,1.0,0.06,0.02,0.02,1.0,0.0,0.0,1.0,NaN,1.0,NaN,NaN,0.0

In [9]:
# Marc - Question n°3 : Nombre théorique de personnes qui pourraient être nourries en 2017 (à partir de la disponibilité alimentaire mondiale en végétaux)

pop_da_veg_kcal = round(((pop_da_veg['Disponibilité alimentaire (Kcal/personne/jour)']*365*pop_da_veg['Valeur']).sum()/912500)*1e3, 2)

pop_da_veg_kcal_percent = round(((pop_da_veg_kcal/(pop_2017*1e3))*1e2),2)

print('La disponibilité alimentaire mondiale en végétaux permettrait de nourrir ', '{:,}'.format(int(pop_da_veg_kcal)).replace(',', ' '), 'personnes, soit ', pop_da_veg_kcal_percent, '% de la population mondiale.')

La disponibilité alimentaire mondiale en végétaux permettrait de nourrir  6 904 305 684 personnes, soit  91.47 % de la population mondiale.

In [10]:
# Marc - Question n°4 : Utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine en 2017

# Utilisation de la disponibilité intérieure
# Disponibilité intérieur = Production + importations - exportations + variations des stocks = Nourriture + Aliments pour animaux + Semences + Traitement + Autres utilisations + Pertes

# Part qui est attribuée à l’alimentation animale
p1 = round(da['Aliments pour animaux'].sum()/da['Disponibilité intérieure'].sum()*100, 2)
print(p1 ,'% de la disponibilité intérieure sont attribués à l\'alimentation animale.')

# Part qui est perdue
p2 = round(da['Pertes'].sum()/da['Disponibilité intérieure'].sum()*100, 2)
print(p2 ,'% de la disponibilité intérieure correspondent aux pertes.')

# Part qui est concrètement utilisée pour l'alimentation humaine
p3 = round(da['Nourriture'].sum()/da['Disponibilité intérieure'].sum()*100, 2)
print(p3 ,'% de la disponibilité intérieure sont attribués à l\'alimentation humaine.')

13.24 % de la disponibilité intérieure sont attribués à l'alimentation animale.
4.61 % de la disponibilité intérieure correspondent aux pertes.
49.51 % de la disponibilité intérieure sont attribués à l'alimentation humaine.

In [11]:
# Julien - Question n°1 : Répartition entre l’alimentation humaine et l’alimentation pour animaux

# Création du filtre sur les céréales
liste_cer = cer['Produit'].unique()
da_cer_df = da.loc[da['Produit'].isin(liste_cer),:]

# Calcul de la disponibilité intérieure en céréales
da_cer = da_cer_df['Disponibilité intérieure'].sum()

# Calcul de la part destinée à l'alimentation animale
da_cer_a = da_cer_df['Aliments pour animaux'].sum()
print(round(da_cer_a/da_cer * 100, 2), '% de la disponibilité intérieure mondiale en céréales est destinée à l\'alimentation animale.')

# Calcul de la part destinée à l'alimentation humaine
da_cer_h = da_cer_df['Nourriture'].sum()
print(round(da_cer_h/da_cer * 100, 2), '% de la production mondiale de céréales est destinée à l\'alimentation humaine.')

69.34 % de la disponibilité intérieure mondiale en céréales est destinée à l'alimentation animale.
18.13 % de la production mondiale de céréales est destinée à l'alimentation humaine.

In [12]:
# Création du filtre sur le manioc et projection sur la Thaïlande

da_thai_manioc = da[(da['Zone'] == 'Thaïlande') & (da['Produit'] == 'Manioc')]
da_thai_manioc = da_thai_manioc[['Zone', 'Produit', 'Exportations - Quantité', 'Production']]
da_thai_manioc

            Zone Produit  Exportations - Quantité  Production
13809  Thaïlande  Manioc                  25214.0     30228.0

In [13]:
# Julien - Question n°2 : Utilisation du manioc par la Thaïlande aux égards de la proportion de personnes en sous-nutrition et calcul de l’exportation par rapport à la production

# Définition du nombre de personnes estimée comme étant en sous-nutrition en Thaïlande pour l'année 2017
sn_thai_2017_df = sn_2017_df[['Zone', 'Année', 'Valeur']][(sn_2017_df['Zone'] == 'Thaïlande')]
sn_thai_2017 = sn_thai_2017_df['Valeur'].sum()

# Définition du nombre de personnes vivant en Thaïlande en 2017
pop_thai_2017_df = pop_2017_df[['Zone', 'Année', 'Valeur']][(pop_2017_df['Zone'] == 'Thaïlande')]
pop_thai_2017 = pop_thai_2017_df['Valeur'].sum()

# Calcul de l’exportation par rapport à la production
print('La Thaïlande a exporté ', round(25214/30228*100, 2), '% de sa production de manioc en 2017 alors que, dans le même temps, ', round(sn_thai_2017/pop_thai_2017*1e5, 2), '% des thaïlandais étaient considérés comme étant en sous-nutrition.')

La Thaïlande a exporté  83.41 % de sa production de manioc en 2017 alors que, dans le même temps,  8.96 % des thaïlandais étaient considérés comme étant en sous-nutrition.

In [14]:
# Jointure des tableaux 'Sous-nutrition' et 'Population' en 2017

pop_sn = pd.merge(pop_2017_df, sn_2017_df, on='Zone')
pop_sn = pop_sn.replace(np.nan, 0)
pop_sn

,Zone,Année_x,Valeur_x,Année_y,Valeur_y
0,Afghanistan,2017,36296.113,2016-2018,10.5
1,Afrique du Sud,2017,57009.756,2016-2018,3.1
2,Albanie,2017,2884.169,2016-2018,0.1
3,Algérie,2017,41389.189,2016-2018,1.3
4,Allemagne,2017,82658.409,2016-2018,0.0
...,...,...,...,...,...
178,Venezuela (République bolivarienne du),2017,29402.484,2016-2018,8.0
179,Viet Nam,2017,94600.648,2016-2018,6.5
180,Yémen,2017,27834.819,2016-2018,0.0
181,Zambie,2017,16853.599,2016-2018,0.0
182,Zimbabwe,2017,14236.595,2016-2018,0.0

In [15]:
# Mélanie - Question n°1 : Liste des pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

# Création des colonnes 'Population' et 'Population en sous-nutrition' en Millions
pop_sn['Population (en Millions)'] = pop_sn['Valeur_x']*1e-3
pop_sn['Population en sous-nutrition (en Millions)'] = pop_sn['Valeur_y']

del pop_sn['Valeur_x']
del pop_sn['Valeur_y']

# Création de la colonne 'Pourcentage de la population en sous-nutrition' et classement dans l'ordre décroissant
pop_sn['Pourcentage de la population en sous-nutrition'] = round(pop_sn['Population en sous-nutrition (en Millions)']/pop_sn['Population (en Millions)']*100, 2)
pop_sn = pop_sn.sort_values(by='Pourcentage de la population en sous-nutrition',ascending=False)

# Création du filtre permettant d'obtenir la liste de tous les pays pour lesquels le taux de sous-nutrition est supérieur ou égal à 20%
pop_sn = pop_sn[pop_sn['Pourcentage de la population en sous-nutrition'] >= 20.00]

pop_sn

,Zone,Année_x,Année_y,Population (en Millions),Population en sous-nutrition (en Millions),Pourcentage de la population en sous-nutrition
69,Haïti,2017,2016-2018,10.982366,5.3,48.26
142,République populaire démocratique de Corée,2017,2016-2018,25.429825,12.0,47.19
96,Madagascar,2017,2016-2018,25.570512,10.5,41.06
92,Libéria,2017,2016-2018,4.702226,1.8,38.28
89,Lesotho,2017,2016-2018,2.091534,0.8,38.25
165,Tchad,2017,2016-2018,15.016753,5.7,37.96
146,Rwanda,2017,2016-2018,11.980961,4.2,35.06
108,Mozambique,2017,2016-2018,28.649018,9.4,32.81
168,Timor-Leste,2017,2016-2018,1.243258,0.4,32.17
0,Afghanistan,2017,2016-2018,36.296113,10.5,28.93
38,Congo,2017,2016-2018,5.110695,1.4,27.39
178,Venezuela (République bolivarienne du),2017,2016-2018,29.402484,8.0,27.21
154,Sierra Leone,2017,2016-2018,7.488423,2.0,26.71
143,République-Unie de Tanzanie,2017,2016-2018,54.660339,13.4,24.52
77,Iraq,2017,2016-2018,37.552781,9.0,23.97
86,Kenya,2017,2016-2018,50.221142,11.9,23.70
23,Botswana,2017,2016-2018,2.205080,0.5,22.67
169,Togo,2017,2016-2018,7.698474,1.6,20.78
40,Côte d'Ivoire,2017,2016-2018,24.437470,4.9,20.05

In [16]:
# Mélanie - Question n°2 : Liste des pays qui ont le plus bénéficié d’aide depuis 2013

# Renommage des colonnes 'Valeur' et 'Pays bénéficiaire'
aa.rename(columns = {'Valeur':'Quantité donnée (en tonnes)', 'Pays bénéficiaire':'Zone' }, inplace=True)

# Groupage sur les zones et classement dans l'ordre décroissant afin d'obtenir les pays ayant perçu le plus d'aide entre 2013 et 2017
aa_2013_2017 = aa[['Zone','Quantité donnée (en tonnes)']].groupby('Zone').sum()
aa_2013_2017.sort_values(by='Quantité donnée (en tonnes)', ascending=False).head(10)

                                  Quantité donnée (en tonnes)
Zone
République arabe syrienne                             1858943
Éthiopie                                              1381294
Yémen                                                 1206484
Soudan du Sud                                          695248
Soudan                                                 669784
Kenya                                                  552836
Bangladesh                                             348188
Somalie                                                292678
République démocratique du Congo                       288502
Niger                                                  276344

In [17]:
# Mélanie - Question n°3 : Liste des pays ayant le plus de disponibilité/habitant (en kcal)

# Création du dataframe permettant de déterminer la disponibilité par habitant totale, groupée par zone
da_df = da[['Zone','Disponibilité alimentaire (Kcal/personne/jour)']].groupby('Zone').sum()
da_df.sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)', ascending=False).head(10)

                       Disponibilité alimentaire (Kcal/personne/jour)
Zone
Autriche                                                       3770.0
Belgique                                                       3737.0
Turquie                                                        3708.0
États-Unis d'Amérique                                          3682.0
Israël                                                         3610.0
Irlande                                                        3602.0
Italie                                                         3578.0
Luxembourg                                                     3540.0
Égypte                                                         3518.0
Allemagne                                                      3503.0

In [18]:
# Mélanie - Question n°4 : Liste des pays ayant le moins de disponibilité/habitant (en kcal)

da_df.sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)', ascending=False).tail(10)

                                            Disponibilité alimentaire (Kcal/personne/jour)
Zone
Éthiopie                                                                            2129.0
Ouganda                                                                             2126.0
Zimbabwe                                                                            2113.0
Tchad                                                                               2109.0
République populaire démocratique de Corée                                          2093.0
Haïti                                                                               2089.0
Afghanistan                                                                         2087.0
Madagascar                                                                          2056.0
Zambie                                                                              1924.0
République centrafricaine                                                           1879.0

In [19]:
# À titre d'information, comparons les disponibilités alimentaires du pays en ayant le plus et celui en ayant le moins

da_df = da[['Zone','Disponibilité alimentaire (Kcal/personne/jour)']].groupby('Zone').sum()

da_pop = pd.merge(pop_2017_df, da_df, on='Zone').sort_values(by='Disponibilité alimentaire (Kcal/personne/jour)', ascending=False)
da_pop

,Zone,Année,Valeur,Disponibilité alimentaire (Kcal/personne/jour)
11,Autriche,2017,8819.901,3770.0
17,Belgique,2017,11419.748,3737.0
163,Turquie,2017,81116.450,3708.0
54,États-Unis d'Amérique,2017,325084.756,3682.0
80,Israël,2017,8243.848,3610.0
...,...,...,...,...
70,Haïti,2017,10982.366,2089.0
0,Afghanistan,2017,36296.113,2087.0
97,Madagascar,2017,25570.512,2056.0
170,Zambie,2017,16853.599,1924.0
131,République centrafricaine,2017,4596.023,1879.0

In [20]:
# Calcul de la disponibilité en Autriche

da_autriche = 8819.901*3770.0*1e3

print('La disponibilité alimentaire en Autriche est égale à ','{:,}'.format(int(da_autriche)).replace(',', ' '), 'kcal par jour, ce qui permettrait selon l\'OMS de nourrir ','{:,}'.format(int(da_autriche/2500)).replace(',', ' '), 'personnes, soit ', round((da_autriche/2500)/8819901*100, 2), '% de la population autrichienne.')

La disponibilité alimentaire en Autriche est égale à  33 251 026 770 kcal par jour, ce qui permettrait selon l'OMS de nourrir  13 300 410 personnes, soit  150.8 % de la population autrichienne.

In [21]:
# Calcul de la disponibilité en République Centrafricaine

da_rcentraf = 4596.023*1879.0*1e3

print('La disponibilité alimentaire en République Centrafricaine est égale à ','{:,}'.format(int(da_rcentraf)).replace(',', ' '), 'kcal par jour, ce qui permettrait selon l\'OMS de nourrir ','{:,}'.format(int(da_rcentraf/2500)).replace(',', ' '), 'personnes, soit ', round((da_rcentraf/2500)/4596023*100, 2), '% de la population centrafricaine.')

La disponibilité alimentaire en République Centrafricaine est égale à  8 635 927 217 kcal par jour, ce qui permettrait selon l'OMS de nourrir  3 454 370 personnes, soit  75.16 % de la population centrafricaine.

In [22]:
# Utilisation du surplus en République Centrafricaine

surplus_autriche = da_autriche - 8819901*2500

rcentraf_h = round((surplus_autriche/2500)/4596023*100, 2)

print('Le surplus de la disponibilité alimentaire en Autriche permettrait à lui seul de nourrir ', rcentraf_h, '% de la population centrafricaine.')

Le surplus de la disponibilité alimentaire en Autriche permettrait à lui seul de nourrir  97.49 % de la population centrafricaine.